<%- include('./includes/head') %>
<%- include('./includes/nav-bar') %> 
<body>
    <div class="light-gray-cointainer">
        <%- include('./includes/register-form') %> 
    </div>
    <script src="../../assets/js/bundle.js"></script>
</body>

</html>